{% extends "base_dashboard.html" %}
{% block title %}Home{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container" style="padding-top: 70px;">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="panel panel-default">
                    <div class="container" style="padding: 20px">
                        <h2>Calendar</h2>
                        <h3>Your upcoming events</h3>
                        {% if events %}
                            {% for event in events %}
                                <em>{{ event['start'].get('dateTime', event['start'].get('date')) }}: {{ event['summary'] }}</em><br />
                            {% endfor %}
                        {% else %}
                            <p>Nothing received.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
    <script src="../static/js/navbar.js"></script>
{% endblock %}
