{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Calendar Test</h2>
                <h3>Shows the 10 next upcoming events from Google Calendar.</h3>
                {% if events %}
                    {% for event in events %}
                        {{ event['start'].get('dateTime', event['start'].get('date')) }}: {{ event['summary'] }}<br />
                    {% endfor %}
                {% else %}
                    <p>Nothing received.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}