{% extends "base_dashboard.html" %}
{% block title %}Home{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <div id="sidebar">
                    <!-- sidebar menu start-->
                    <div id="sort-tabs">
                        <a href="#" onclick="showAll()">All</a>
                        <a href="#" onclick="showFriends()">Friends</a>
                        <a href="#" onclick="showFamily()">Family</a>
                    </div>

                    <ul class="sidebar-menu" id="nav">
                        {% if contact_dict %}
                            {% for key in contact_dict %}
                                <li class="sub-menu friend-type-{{ contact_dict[key]['friend-type'] }}">
                                    <a href="/contact/{{ key }}" class="">
                                        <i class="icon_document_alt"></i>
                                        <span>{{ contact_dict[key]['name'] }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="sub-menu">
                                <a href="javascript:;" class="">
                                    <i class="icon_document_alt"></i>
                                    <span>You have no contacts.</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    <div id="plus">
                        <a href="/add_contact">
                            <div class="round-button" alt="Add Contact">
                                <p style="position: relative; top: 50%; transform: translateY(-50%);">+</p>
                            </div>
                        </a>
                    </div>
                    <!-- sidebar menu end-->
                </div>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="row">
                    <div class="col-xs-3">
                    </div>
                    <div class="col-xs-6">
                        <img style="display: block; border-radius: 50%; margin: 0 auto 0 auto"
                             src="../static/img/no.jpg" height="50%" width="50%">
                        <br/>
                    </div>
                    <div class="col-xs-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4>Phone Number: </h4>
                                <p>{{ opened_contact_dict['phone-number'] }}</p>
                                <h4>Time Zone: </h4>
                                <p>GMT {{ opened_contact_dict['time-zone'] }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="panel panel-default">
                            <div class="panel-body" style="text-align: center;">
                                <h2>{{ opened_contact_dict['name'] }}</h2>
                                <div class="heart pulse"><span class="glyphicon glyphicon-heart"></span></div>
                                <br/>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3>Next reminder scheduled for</h3>
                                {{ opened_contact_dict['time'] }}
                                <h3>Holidays to celebrate</h3>
                                <p>{% if opened_contact_dict['holidays'] %}
                                    {{ opened_contact_dict['holidays'] }}
                                {% else %}
                                    No holidays to celebrate...
                                {% endif %}</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script src="../static/js/navbar.js"></script>
{% endblock %}
