{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <!--sidebar start-->
    <aside>
        <div id="sidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu">
                <li class="active">
                    <a class="" href="index.html">
                        <span>Person 1</span>
                        <span class="glyphicon glyphicon-heart" style="color: #462066"></span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon_document_alt"></i>
                        <span>Person 2</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon_document_alt"></i>
                        <span>Person 3</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon_document_alt"></i>
                        <span>Person 4</span>
                    </a>
                </li>
            </ul>
            <div id="pluspad">
                <button type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true" id="plus"> Add Contact</span>
                </button>
            </div>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!--overview start-->

            <div class="col-lg-8">
                <section class="panel">
                    <div class="panel-body progress-panel">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="../static/img/no.jpg" height="50%" width="50%"> </div>
                            <div class="col-md-6">
                                <h1>Grandma</h1>
                                <b>Nickname: </b> she has one?<br>
                                <b>Phone: </b> 555-555-5555<br>
                                <b>Email: </b> nonexistant<br>

                                <p>
                                    <img src="../static/img/heart.gif" id="heart" height="40%" width="40%" align="right">
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>


            <div class="col-lg-8">
                <!--Project Activity start-->
                <section class="panel">
                    <div class="panel-body progress-panel">

                        <div class="row">
                            <div class="col-lg-8 task-progress pull-left">
                                <h1>When To Contact Grandma</h1>
                            </div>
                            <div class="col-lg-4">
                                <span class="profile-ava pull-right">
                                        <img alt="" class="simple" src="../static/img/avatar1_small.jpg">
                                        User 1
                                </span>
                            </div>
                        </div>
                    </div>


                    <table class="table table-hover personal-task">
                        <tbody>
                        <tr>
                            <td>Today</td>
                            <td>
                                Her Birthday
                            </td>
                            <td>
                                10pm
                            </td>
                        <tr>
                            <td>April 5th</td>
                            <td>
                                Say hi
                            </td>
                            <td>
                                8pm
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>
                <!--Project Activity end-->
            </div>
            </section>
        </section>
    <!--main content end-->
    </div>
{% endblock %}

