{% extends "base_dashboard.html" %}
{% block title %}Home{% endblock %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="js/jquery.idTabs.min.js"></script>
{% endblock %}

{% block content %}
    <!--sidebar start-->
    <div id="sidebar">
        <!-- sidebar menu start-->
        <div id="sort-tabs">
            <a href="#" onclick="navbar()">All</a>
            <a href="#" onclick="navbar()">Friends</a>
            <a href="#" onclick="navbar()">Family</a>
        </div>

        <ul class="sidebar-menu" id="nav">
            <!-- <li class="active">
                <a class="" href="index.html">
                    <span>Person 1</span>
                    <span class="glyphicon glyphicon-heart" style="color: #462066"></span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon_document_alt"></i>
                    <span>Person 2</span>
                </a>
            </li> -->

            {% for key in contact_dict %}
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                    <i class="icon_document_alt"></i>
                    <span>{{ contact_dict[key] }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div id="plus">
            <a href="#">
                <div class="round-button" alt="Add Contact">
                    <p style="position: relative; top: 50%; transform: translateY(-50%);">+</p>
                </div>
            </a>
        </div>
        <!-- sidebar menu end-->
    </div>
    <!--sidebar end-->

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!--overview start-->

                <section class="panel">
                    <div class="panel-body progress-panel">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="../static/img/no.jpg" height="50%" width="50%"> </div>
                            <div class="col-md-6">
                                <h1>Grandma</h1>
                                <b>Nickname:</b> she has one?<br>
                                <b>Phone:</b> 555-555-5555<br>
                                <b>Email:</b> nonexistant<br>

                                <p>
                                    
                                <div class="heart pulse"><span class="glyphicon glyphicon-heart"></span></div>
                            </div>
                        </div>
                    </div>
                </section>

                <!--Project Activity start-->
                <section class="panel">
                    <div class="panel-body progress-panel">

                        <div class="row">
                            <div class="col-lg-8 task-progress pull-left">
                                <h1>When To Contact Grandma</h1>
                            </div>

                        </div>
                    </div>


                    <table class="table table-hover personal-task">
                        <tbody>
                        <tr>
                            <td>Today</td>
                            <td>
                                Her Birthday
                            </td>
                            <td>
                                10pm
                            </td>
                        <tr>
                            <td>April 5th</td>
                            <td>
                                Say hi
                            </td>
                            <td>
                                8pm
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>
                <!--Project Activity end-->
            </div>
        </section>

        <!--main content end-->
    </section>
    <!--main content end-->
    </div>
{% endblock %}

{% block footer %}
    <script src="js/navbar.js"></script>
{% endblock %}
